<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.viato.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".ViatoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Viato" >
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.activities.BookSearchActivity"/>
        <activity
            android:name=".ui.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.viato.in"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activities.RegistrationActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.CategoryBooksActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.activities.BookDetailActivity"
            android:label="@string/title_activity_book_detail"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.activities.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.activities.AddressListActivity"
            android:label="@string/title_activity_address_list"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.activities.CheckoutActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.CheckoutActivity" />
        </activity>
        <activity
            android:name=".ui.activities.MyBooksActivity"
            android:label="@string/title_activity_my_books"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PreviousOrders"
            android:label="@string/title_activity_previous_orders"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.activities.NotificationsActivity"
            android:label="@string/title_activity_notifications"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.activities.BookSearchActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:stateNotNeeded="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.activities.BarcodeScannerActivity"
            android:label="Book Scanner"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".ui.activities.BookSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.BookSearchActivity" />
        </activity>
        <activity
            android:name=".ui.activities.SuccessActivity"
            android:label="@string/title_activity_success"
            android:parentActivityName=".ui.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.viato.app.ui.activities.HomeActivity" />
        </activity>
        <!-- Receivers -->
        <!--<receiver android:name=".receivers.SMSReceiver" ></receiver>-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLS4IiP1Z86qOoWpW5pByZQEJ1ttceYcw"/>
    </application>

</manifest>
